*{/*para todos itens*/
    padding: 0;
    margin: 0;
    box-sizing: border-box ;/* alterar a propriedade padrão da box-model, usada para calcular largurase alturas  dos elementos*/
}

.wrapper{
    background-color: rgb(221,161,171);
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    position: relative;/*serve pra deixar os trace absoluto pra ele*/
    cursor: pointer;

}

.checkbox .trace{ /* os trace são filhos de checkbox.*/
    width: 90px;
    height: 8px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out; /*ease-in-out é uma curvar de animação, a curva começa e acaba lenta*/
}

.checkbox .trace:nth-child(1){/*primeiro filho de checkbox*/
    top: 26px;
    transform: rotate(0);

}

.checkbox .trace:nth-child(2){/*segundo filho de checkbox*/
    top:46px;
    transform: rotate(0);

}

.checkbox .trace:nth-child(3){/*terceiro filho de checkbox*/
    top: 66px;
    transform: rotate(0);

}

#toggle{
    display: none;
}

#toggle:checked + .checkbox .trace:nth-child(1){ /*estamos usando o toggle para dizer o que acontecerá quando clicar no menu.*/
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2){ 
   transform: translateX(-100px); /*o segundo trace se afastar quando clicar no menu.*/
   width: 30px; /*aqui estamos diminuindo o tamanho*/
   visibility: hidden; /*ele se afastar sumir da tela.*/
   opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3){ /*estamos usando o toggle para dizer o que acontecerá quando clicar no menu.*/
    transform: rotate(-45deg);
    top: 48px;
}